* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Ubuntu, sans-serif;
  font-size: 10px;
}

.container {
  max-width: 144rem;
  width: 80%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  all: unset;
  cursor: pointer;
}

.header {
  padding-top: 5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
}
.header__bg--pattern {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 550px;
  border-bottom-left-radius: 100px;
  background: url(../images/bg-pattern-intro-desktop.svg) no-repeat -460px -1360px, linear-gradient(140deg, rgb(255, 143, 112) 0%, rgb(255, 61, 84) 55%);
  background-size: 3175px;
}
.header .wrapper {
  display: flex;
  gap: 5rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.header__dropdown::after {
  content: url(../images/icon-arrow-light.svg);
  margin-left: 0.5rem;
}
.header__submenu {
  display: none;
}
.header__logon {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header__logon--signup {
  height: 18px;
  padding: 1rem 3rem;
  border-radius: 4rem;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(353deg, 100%, 62%);
}

.section-first {
  margin-top: 10rem;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
}
.section-first h1 {
  font-family: Overpass;
  font-size: 5rem;
  font-weight: 600;
}
.section-first p {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: hsl(240deg, 2%, 79%);
}
.section-first__buttons {
  margin-top: 5rem;
}
.section-first__buttons a {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 4rem;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(353deg, 100%, 62%);
  border: 1px solid hsl(0deg, 0%, 100%);
}
.section-first__buttons a:last-child {
  margin-left: 1rem;
  color: hsl(0deg, 0%, 100%);
  background-color: transparent;
}

.section-second {
  margin-top: 35rem;
  color: hsl(207deg, 13%, 34%);
  position: relative;
}
.section-second h2 {
  font-family: Overpass, sans-serif;
  font-size: 3.5rem;
  color: hsl(240deg, 10%, 16%);
  text-align: center;
}
.section-second__info {
  margin-top: 10rem;
  max-width: 40%;
}
.section-second__info h3 {
  font-family: Overpass, sans-serif;
  font-size: 2.5rem;
  color: hsl(240deg, 10%, 16%);
}
.section-second__info p {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.section-second__info:nth-child(3) {
  margin-top: 6rem;
}
.section-second__illustration {
  position: absolute;
  top: -80px;
  right: -400px;
  width: 100%;
  height: 100vh;
  max-width: 925px;
  max-height: 882px;
  background: url(../images/illustration-editor-desktop.svg) no-repeat;
  background-size: cover;
}

.section-third {
  margin-top: 35rem;
  background: url(../images/bg-pattern-circles.svg) no-repeat -234px -512px, linear-gradient(144deg, rgb(44, 45, 63) 0%, rgb(63, 65, 100) 100%);
  position: relative;
  height: 400px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
.section-third .container {
  display: flex;
}
.section-third__img-phone {
  position: relative;
  top: -70px;
  left: -38px;
  width: 530px;
  height: 579px;
  background: url(../images/illustration-phones.svg) no-repeat;
}
.section-third__info {
  color: hsl(0deg, 0%, 100%);
  width: 42%;
  margin-left: 5rem;
  padding-top: 10rem;
}
.section-third__info h2 {
  font-family: Overpass, sans-serif;
  font-size: 3.5rem;
}
.section-third__info p {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: hsl(240deg, 2%, 79%);
  line-height: 2.5rem;
}

.section-fourth {
  margin-top: 30rem;
  position: relative;
}
.section-fourth__info {
  margin-left: auto;
  max-width: 50%;
}
.section-fourth__info h3 {
  font-family: Overpass, sans-serif;
  font-size: 2.5rem;
  color: hsl(240deg, 10%, 16%);
}
.section-fourth__info p {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.section-fourth__info:nth-child(2) {
  margin-top: 6rem;
}
.section-fourth__img-laptop {
  position: absolute;
  top: -190px;
  left: -420px;
  width: 100%;
  height: 100vh;
  max-width: 974px;
  max-height: 786px;
  background: url(../images/illustration-laptop-desktop.svg);
}

/*# sourceMappingURL=style.css.map */
