* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Ubuntu, sans-serif;
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 144rem;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .container {
    width: 90%;
  }
}

li {
  list-style: none;
}

a {
  all: unset;
  cursor: pointer;
}

.header {
  padding-top: 5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
}
.header__bg--pattern {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 550px;
  border-bottom-left-radius: 100px;
  background: url(../images/bg-pattern-intro-desktop.svg) no-repeat -460px -1360px, linear-gradient(140deg, hsl(13deg, 100%, 72%) 0%, hsl(353deg, 100%, 62%) 55%);
  background-size: 3175px;
}
.header .wrapper {
  display: flex;
  gap: 5rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
}
.header__icon {
  display: none;
}
.header__icon svg {
  display: none;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.header__menu-item {
  position: relative;
}
.header__dropdown::after {
  content: url(../images/icon-arrow-light.svg);
  margin-left: 0.5rem;
  display: inline-block;
  transition: all 1s;
}
.header__dropdown:hover {
  text-decoration: underline;
}
.header .dropdown-active::after {
  transform: rotateX(180deg);
}
.header__submenu {
  opacity: 0;
  position: absolute;
  top: 35px;
  left: -20px;
  background-color: hsl(0deg, 0%, 100%);
  padding: 3rem 2rem;
  color: hsl(240deg, 10%, 16%);
  border-radius: 5px;
  font-weight: 400;
  width: 140px;
  box-shadow: 1px 10px 30px 1px rgba(0, 0, 0, 0.19);
  transition: all 1s;
}
.header__submenu li:not(:last-child) {
  margin-bottom: 1.5rem;
}
.header__submenu li:hover {
  font-weight: 600;
}
.header__logon {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.header__logon--signup {
  height: 18px;
  padding: 1rem 3rem;
  border-radius: 4rem;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(356deg, 100%, 66%);
}
.header__logon--signup:hover {
  background-color: #ff858d;
  color: hsl(0deg, 0%, 100%);
}
.header .active {
  display: block;
}
.header .disabled {
  display: none;
}
@media screen and (max-width: 800px) {
  .header__bg--pattern {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 550px;
    border-bottom-left-radius: 100px;
    background: url(../images/bg-pattern-intro-mobile.svg) no-repeat -350px -250px, linear-gradient(140deg, hsl(13deg, 100%, 72%) 0%, hsl(353deg, 100%, 62%) 55%);
    background-size: 1324px;
  }
  .header .wrapper {
    justify-content: space-between;
    align-items: center;
  }
  .header__nav {
    flex-basis: auto;
  }
  .header__icon {
    display: block;
    width: 32px;
    min-height: 18px;
  }
  .header__menu {
    display: none;
  }
  .header__logon {
    display: none;
  }
}

.opacity {
  opacity: 1 !important;
}

.section-first {
  margin-top: 10rem;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
}
.section-first h1 {
  font-family: Overpass;
  font-size: 5rem;
  font-weight: 600;
}
.section-first p {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: hsl(240deg, 2%, 79%);
}
.section-first__buttons {
  margin-top: 5rem;
}
.section-first__buttons a {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 4rem;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(356deg, 100%, 66%);
  border: 1px solid hsl(0deg, 0%, 100%);
}
.section-first__buttons a:last-child {
  margin-left: 1rem;
  color: hsl(0deg, 0%, 100%);
  background-color: transparent;
}
.section-first__buttons a:last-child:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: #ff858d;
  border: 1px solid hsl(0deg, 0%, 100%);
}
.section-first__buttons a:hover {
  background-color: #ff858d;
  color: hsl(0deg, 0%, 100%);
  border: 1px solid #ff858d;
}
@media screen and (max-width: 800px) {
  .section-first {
    margin-top: 8rem;
  }
  .section-first h1 {
    font-size: 3.5rem;
  }
  .section-first p {
    margin-top: 2rem;
  }
  .section-first__buttons {
    margin-top: 8rem;
  }
}

.section-second {
  margin-top: 35rem;
  color: hsl(207deg, 13%, 34%);
  position: relative;
}
.section-second h2 {
  font-family: Overpass, sans-serif;
  font-size: 3.5rem;
  color: hsl(240deg, 10%, 16%);
  text-align: center;
}
.section-second__info {
  margin-top: 10rem;
  max-width: 40%;
}
.section-second__info h3 {
  font-family: Overpass, sans-serif;
  font-size: 2.5rem;
  color: hsl(240deg, 10%, 16%);
}
.section-second__info p {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.section-second__info:nth-child(3) {
  margin-top: 6rem;
}
.section-second__illustration {
  position: absolute;
  top: -80px;
  right: 0px;
  width: 50%;
  height: 100vh;
  max-width: 925px;
  max-height: 882px;
  background: url(../images/illustration-editor-desktop.svg) no-repeat 50px;
  background-size: cover;
}
@media screen and (max-width: 800px) {
  .section-second {
    margin-top: 22rem;
  }
  .section-second .container {
    display: flex;
    flex-direction: column;
  }
  .section-second h2 {
    order: 1;
    font-size: 2.5rem;
  }
  .section-second__illustration {
    margin-top: 5rem;
    order: 2;
    position: inherit;
    width: 100%;
    height: 100vh;
    max-height: 331px;
    background: url(../images/illustration-editor-mobile.svg) no-repeat center;
    background-size: cover;
  }
  .section-second__info {
    padding: 0 2rem;
    order: 3;
    max-width: 100%;
    text-align: center;
    margin-top: 3rem;
  }
  .section-second__info:nth-child(3) {
    margin-top: 4rem;
  }
}

.section-third {
  margin-top: 35rem;
  background: url(../images/bg-pattern-circles.svg) no-repeat -234px -512px, linear-gradient(144deg, hsl(237deg, 17%, 21%) 0%, hsl(237deg, 23%, 32%) 100%);
  position: relative;
  height: 400px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
.section-third .container {
  display: flex;
}
.section-third__img-phone {
  position: relative;
  top: -70px;
  left: -38px;
  width: 530px;
  height: 579px;
  background: url(../images/illustration-phones.svg) no-repeat;
}
.section-third__info {
  color: hsl(0deg, 0%, 100%);
  width: 42%;
  margin-left: 5rem;
  padding-top: 10rem;
}
.section-third__info h2 {
  font-family: Overpass, sans-serif;
  font-size: 3.5rem;
}
.section-third__info p {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: hsl(240deg, 2%, 79%);
  line-height: 2.5rem;
}

.section-fourth {
  margin-top: 30rem;
  position: relative;
}
.section-fourth__info {
  margin-left: auto;
  max-width: 50%;
}
.section-fourth__info h3 {
  font-family: Overpass, sans-serif;
  font-size: 2.5rem;
  color: hsl(240deg, 10%, 16%);
}
.section-fourth__info p {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
}
.section-fourth__info:nth-child(2) {
  margin-top: 6rem;
}
.section-fourth__img-laptop {
  position: absolute;
  top: -190px;
  left: -420px;
  width: 100%;
  height: 100vh;
  max-width: 974px;
  max-height: 786px;
  background: url(../images/illustration-laptop-desktop.svg);
}

.footer {
  margin-top: 40rem;
  background-color: hsl(240deg, 10%, 16%);
  border-top-right-radius: 100px;
  padding: 8rem 0;
  color: hsl(0deg, 0%, 100%);
  font-size: 1.4rem;
  position: relative;
}
.footer .container {
  display: flex;
  gap: 13.88vw;
}
.footer__menu {
  margin: 1rem;
}
.footer__menu h4 {
  margin-bottom: 3rem;
}
.footer__menu nav {
  color: hsl(240deg, 2%, 79%);
}
.footer__menu nav li:not(:last-child) {
  margin-bottom: 1.5rem;
}
.footer__menu nav li:hover {
  text-decoration: underline;
}
.footer .attribution {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1rem;
}
.footer .attribution a {
  color: hsl(240deg, 2%, 79%);
}
.footer .attribution a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
    gap: 4vh;
  }
  .footer__menu {
    text-align: center;
  }
  .footer__logo {
    margin-bottom: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
